/** Add css rules here for your application. */

/** Drawer Style */
.drawer-button {
	border: 1px solid #666;
	background: #eee;
	width: 100%;
}
.direction-buttons {
	border: 0px solid;
	background: #fff;
}

.editor-small-field {
	font: bold 10px Courrier;
	border: 1px solid #0f0;
}
.editor-small-field-multiline {
	font: bold 10px Courrier;
	border: 1px solid #f00;
}
.editor-field {
	font: bold 12px Courrier;
	border: 1px solid #0f0;
}
.editor-field-multiline {
	font: bold 12px Courrier;
	border: 1px solid #f00;
}
.canvas {
	border: 1px solid black;
}
.contextual-help {
	font: 12px;
	font-style: italic;
	color: #666;
}

/** Cursor change styles */

.globalAutoCursor *, .globalAutoCursor .absolutelyPositioned {
    cursor: auto;
}
.globalCrosshairCursor *, .globalCrosshairCursor .absolutelyPositioned {
    cursor: crosshair;
}
.globalDefaultCursor *, .globalDefaultCursor .absolutelyPositioned {
    cursor: default;
}
.globalPointerCursor *, .globalPointerCursor .absolutelyPositioned {
    cursor: pointer;
} 
.globalMoveCursor *, .globalMoveCursor .absolutelyPositioned {
    cursor: move;
} 
.globalE_ResizeCursor *, .globalE_ResizeCursor .absolutelyPositioned {
    cursor: e-resize;
}
.globalNE_ResizeCursor *, .globalNE_ResizeCursor .absolutelyPositioned {
    cursor: ne-resize;
}
.globalNW_ResizeCursor *, .globalNW_ResizeCursor .absolutelyPositioned {
    cursor: nw-resize;
}
.globalN_ResizeCursor *, .globalN_ResizeCursor .absolutelyPositioned {
    cursor: n-resize;
}
.globalSE_ResizeCursor *, .globalSE_ResizeCursor .absolutelyPositioned {
    cursor: se-resize;
} 
.globalSW_ResizeCursor *, .globalSW_ResizeCursor .absolutelyPositioned {
    cursor: sw-resize;
} 
.globalS_ResizeCursor *, .globalS_ResizeCursor .absolutelyPositioned {
    cursor: s-resize;
} 
.globalW_ResizeCursor *, .globalW_ResizeCursor .absolutelyPositioned {
    cursor: w-resize;
} 
.globalTextCursor *, .globalTextCursor .absolutelyPositioned {
    cursor: text;
}
.globalWaitCursor *, .globalWaitCursor .absolutelyPositioned {
    cursor: wait;
} 
.globalHelpCursor *, .globalHelpCursor .absolutelyPositioned {
    cursor: help;
}
.globalNotAllowedCursor *, .globalNotAllowedCursor .absolutelyPositioned {
    cursor: not-allowed;
}


.rightShadow {
	color:black;
	background-color:white;
	background-image:url(rightShadow.png);
	background-repeat:repeat-y;
}

.bottomShadow {
	color:black;
	background-color:white;
	background-image:url(bottomShadow.png);
	background-repeat:repeat-x;
}

.bottomRightCornerShadow {
	color:black;
	background-color:white;
	background-image:url(bottomRightCornerShadow.png);
	background-repeat:no-repeat;
}

.topRightCornerShadow {
	color:black;
	background-color:white;
	background-image:url(topRightCornerShadow.png);
	background-repeat:no-repeat;
}

.bottomLeftCornerShadow {
	color:black;
	background-color:white;
	background-image:url(bottomLeftCornerShadow.png);
	background-repeat:no-repeat;
}  



/* Gwt-Generator styles */

.messageToaster {
	font-family: Arial Unicode MS,Arial,sans-serif;
	font-size: 14px;
}

.tundra .dijitToasterMessage .dijitToasterContent {
	padding:20px;
	background: #EFFBFB;
	margin: 10px;
	border: 5px solid #DCE9F2;
	-moz-border-radius:12px; 
	-webkit-border-radius:12px;
}

.tundra .dijitToasterMessage {
	color: #000000;
}


/*
 * Tree panel item in the explorer page.
*/
.gwt-TreeItem-selected span {
	background: url("images/hborder.png") repeat-x scroll 0 -1463px #93C2F1
}
 
